<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} - TripWizard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
  {% block head %}{% endblock %}
</head>

<div class="accountLink">
  {% if g.user %}      
      <a href="{{ url_for('auth.account') }}" class="button">Account</a>

  {% else %}       
    <a href="{{ url_for('auth.create_acc') }}" class="button">Log In/Create Account</a>
  {% endif %}
</div>

  <body>
    {% include 'common/header.html' %}
    <div class="content">
      {% block content %}{% endblock %}
    </div>

    {% include 'common/footer.html' %}
    {% block js %}{% endblock %}
  </body>
</html>