<div class="navbar">
    <div class="logo"><a href="{{ url_for('home_controller.index') }}"><img src="{{ url_for('static', filename='img/logo.jpg')}}"></a></div>
    <div class="nav-links">
        <a href="#">Link1</a>
        <a href="#">Link2</a>
        <a href="#">Link3</a>
    </div>
    <div class="right-element">
        {% if g.user %}
        <div>{{ g.user['username'] }}</div>
        <a href="{{ url_for('auth.logout') }}" class="button">Log Out</a>
        {% else %}
        <a href="{{ url_for('auth.register') }}" class="button">Register</a>
        <a href="{{ url_for('auth.login') }}" class="button">Log In</a>
        {% endif %}
    </div>
</div>