  {% extends 'common/base.html' %}

  {% block title %}Home{% endblock %}

  {% block content %}

  <!--All code here written by Jon-->

  <table border="1">
    <tr>
      <td id="frontpageimage">
        <img src="{{ url_for('static', filename='img/homepage.jpg')}}">
      </td>
  
      <td id="frontpagetext">
        <div class="frontpagecontent">
          <h1>TripWizard - The new way to plan a trip!</h1>
          <p>Click <a href="{{ url_for('howitworks.html')}}">here</a> to learn how it works. </p>
        </div>
      </td>
    </tr>
  </table>

  <br>
  <br>
  <br>
  <br>
  <br>
  {% endblock %}