{% extends 'common/base.html' %}

{% block title %}How It Works{% endblock %}

{% block content %}

<div class="howitworks">
  <h1 class="subPageHeader">How Our System Works</h1>
  <p class="howWorkscontent">TripWizard works by generating an itiernary based off several factors about your trip. Follow these simple steps to begin using our service:</p>
  <ol class="howWorkscontent">
    <li>Create an account with your email and password. If you already have an account, log in with these credentials. </li>
    <br>
    <li>Take the traveler survey for eacch itinerary you wish to generate. It will ask you what country you are visiting, what city you are visiting, how many days you will be staying there (maximum of 7 days), which hotel you are staying at, the category/categories of sites  you would like to see, and how active you want to be during the dady (determines how much time you will spend sightseeing per day). </li>
    <br>
    <li>Submit the survey and an itinerary will be generated for you based on what you entered. You will have options to remove any of the sites, save the itinerary to your account, print the itinerary, and download the itinerary (print to PDF). </li>
    <br>
    <li>To access previously made itineraries, please see your account after you have logged in.</li>
  </ol>
</div>
<br><br><br>


{% endblock %}