{% extends 'common/base.html' %}

{% block title %}Itinerary{% endblock %}

{% block content %}

<div class="centralPage">
    <p>NOTE: To save this itinerary, use the print command on your computer to save as a PDF, or print it out. </p>
    <p>We estimate 30 minutes to travel from one site to the next. It might take you longer or shorter to get there, depending on the route you take. </p>
    <p>Time is displayed using European time standards, meaning A.M. and P.M. are not relevant. Instead, a 24-hour clock will be used. </p>
</div>
<br>
<h1 class="subPageHeader">&emsp;Full Itinerary: </h1>

<p style="white-space: pre-wrap; margin-left: 50px;">{{ itin }}</p>
<br>
<br>
<br>
<br>
<div class="centralPage">
  <br>
  <h1>Use this to find directions to your next site:</h1>
  <br>
<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAnAGmuLuOSZFGNoFq2CwWw17-zXBBxGZo
    &q=Europe">
</iframe>
<br>
<br>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}