{% extends 'common/base.html' %}

{% block title %}Itinerary{% endblock %}

{% block content %}

<h1 class="subPageHeader">&emsp;Day 1</h1>

<table class="itinTable">
  <tr>
    <td class="timeSec">8:30</td>
    <td class="itinTab">Leave your hotel and go to your first site, Checkpoint Charlie</td>
  </tr>
  <tr>
    <td class="timeSec">9:00</td>
    <td class="itinTab">Arrive at your first site, Checkpoint Charlie.
      <div class="description">Checkpoint Charlie used to be a crossing point along the Berlin Wall. American and Soviet tanks had a standoff here in 1961. Today, it is a recognizable part of Berlin, and an essential site to visit.</div>
      <div class="address">Friedrichstrasse 43-45, 10117 Berlin, Germany</div>
    </td>
  </tr>
  <tr>
    <td class="timeSec">9:15</td>
    <td class="itinTab">Leave Checkpoint Charlie and go to your second site, Hohenschoenhausen Prison</td>
  </tr>
  <tr>
    <td class="timeSec">9:45</td>
    <td class="itinTab">Arrive at your second site, Hohenschoenhausen Prison.
      <div class="description">The Hohenschoenhausen Prison is a former East German Prison. Today, former inmates and scholars give tours, recounting the brutal methods used here. While a bit outside the city center, it is a must-see for any tourist.</div>
      <div class="address">Genslerstraße 66, 13055 Berlin, Germany</div>
    </td>
  </tr>
  <tr>
    <td class="timeSec">11:45</td>
    <td class="itinTab">Leave Hohenschoenhausen Prison and go to your third site, Topography of Terror</td>
  </tr>
  <tr>
    <td class="timeSec">12:15</td>
    <td class="itinTab">Arrive at your third site, Topography of Terror.
      <div class="description">The Topography of Terror Museum describes the horrors of the Nazi regime. It also includes a chunk of the Berlin Wall outside, with plaques describing the history behind it as well.</div>
      <div class="address">Niederkirchnerstrasse 8, 10963 Berlin, Germany</div>
    </td>
  </tr>
  <tr>
    <td class="timeSec">1:45</td>
    <td class="itinTab">Leave Topography of Terror and go to your fourth site, Zitadelle</td>
  </tr>
  <tr>
    <td class="timeSec">2:15</td>
    <td class="itinTab">Arrive at your fourth site, Zitadelle.
      <div class="description">The Zitadelle is an old fortress that now lies outside of the city. Several exhibits have been set up showcasing not only the fortress's history, but other historical knowledge. It was featured in the movie Gotcha.</div>
      <div class="address">Am Juliusturm 64, 13599 Berlin, Germany</div>
    </td>
  </tr>
  <tr>
    <td class="timeSec">3:45</td>
    <td class="itinTab">Leave your fourth site and return to your hotel.</td>
  </tr>
</table>


<h1 class="subPageHeader">&emsp;Day 2</h1>

<table class="itinTable">
  <tr>
    <td class="timeSec">8:30</td>
    <td class="itinTab">Leave your hotel and go to your first site, Reichstag Building</td>
  </tr>
  <tr>
    <td class="timeSec">9:00</td>
    <td class="itinTab">Arrive at your first site, Reichstag Building.
      <div class="description">The Reichstag is Germany's Parliment Building. In 1934, this place was burned down, which lead to the Reichstag Fire Decree expanding Hitler's power against communists. Today, it shows its scarred past while maintainting transparency to the public. Tours are an extra cost, but the top part is free to visit.</div>
      <div class="address">Platz der Republik 1, 11011 Berlin, Germany</div>
    </td>
  </tr>
  <tr>
    <td class="timeSec">11:15</td>
    <td class="itinTab">Leave Reichstag Building and go to your second site, Hohenschoenhausen Prison</td>
  </tr>
  <tr>
    <td class="timeSec">11:45</td>
    <td class="itinTab">Arrive at your second site, Jewish Memorial.
      <div class="description">This area full of rectangular stones serves as a memorial for the Jews killed during the Holocaust.</div>
      <div class="address">Cora-Berliner-Straße 1, 10117 Berlin, Germany</div>
    </td>
  </tr>
  <tr>
    <td class="timeSec">12:00</td>
    <td class="itinTab">Leave Jewish memorial and go to your third site, Brandenburg Gate.</td>
  </tr>
  <tr>
    <td class="timeSec">12:30</td>
    <td class="itinTab">Arrive at your third site, Brandenburg Gate.
      <div class="description">The Brandenburg Gate is a symbol of Berlin itself. This landmark has stood the test of time, and is now a popular tourist attraction.</div>
      <div class="address">Pariser Platz, 10117 Berlin, Germany</div>
    </td>
  </tr>
  <tr>
    <td class="timeSec">12:45</td>
    <td class="itinTab">Leave Brandenburg Gate and go to your fourth site, TV Tower</td>
  </tr>
  <tr>
    <td class="timeSec">1:15</td>
    <td class="itinTab">Arrive at your fourth site, TV Tower.
      <div class="description">The TV Tower is an iconic landmark in the Berlin skyline. Built to demonstrate East Germany's technological prowess during the Cold War, it is now a popular tourist attraction that shows a panoramic view of the city. There is a restaurant inside, but it is rather expensive.</div>
      <div class="address">Panoramastrasse 1a, Berlin, Germany</div>
    </td>
  </tr>
  <tr>
    <td class="timeSec">3:15</td>
    <td class="itinTab">Leave your fourth site and return to your hotel.</td>
  </tr>
</table>
<br>
<br>
<br>
<br>
<br>
{% endblock %}