/* css used through our whole app*/

html {
    background-color: white;
    padding: 0px;
    margin: 0px;
    font-family: 'Audiowide', sans-serif; 
}

body {
    padding:0px;
    margin:0px;
    font-family: 'Audiowide', sans-serif; 
}

.logo {
    display: flex;
    padding-left: 2%;
    margin: 0 auto;
    padding: 10px 0;
    height: 100px;
    width: 100px;
}

.logo img {
    height: 100%;
    width: 100%;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.right-element {
    display: flex;
    align-items: center;
}



.content {
    padding: 20px;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    font-family: 'Audiowide', sans-serif;
}

footer {
    background-color: #0000ff;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom:0px;
    padding-bottom: 0px;
}

#frontpageimage img{
    width:50%;
    height:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table, td {
    border: 0px dotted green;
}

header {
    background-color:#0000ff;
    color: white;
    margin-top: 0px;
    font-family: 'Audiowide', sans-serif;
    padding: 30px;
}

h1 {
    padding: 0px;
    margin: 0px;
    font-size: 40px;
}

.maintitle {
    font-size: 60px;
    text-align: center;
    font-family: 'Audiowide', sans-serif; 
}
