/* css used through our whole app*/

html {
    background-color: white;
    padding: 0px;
    margin: 0px;
    font-family: 'Audiowide', sans-serif; 
}

body {
    padding:0px;
    margin:0px;
    font-family: 'Audiowide', sans-serif; 
}

.logo {
    display: flex;
    padding-left: 2%;
    margin: 0 auto;
    padding: 10px 0;
    height: 100px;
    width: 100px;
}

.logo img {
    height: 100%;
    width: 100%;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.right-element {
    display: flex;
    align-items: center;
}



.content {
    padding: 20px;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    font-family: 'Audiowide', sans-serif;
}

footer {
    background-color: #0000ff;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom:0px;
    padding-bottom: 0px;
    font-size: 30px;
}

#frontpageimage img{
    width:95%;
    height:95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 70px;
}

table, td {
    border: 0px dotted green;
}

header {
    background-color:#0000ff;
    color: white;
    margin-top: 0px;
    font-family: 'Audiowide', sans-serif;
    padding: 20px;
}

h1 {
    padding: 0px;
    margin: 0px;
    font-size: 40px;
}

.maintitle {
    font-size: 60px;
    text-align: center;
    font-family: 'Audiowide', sans-serif; 
    padding-bottom: 5px;
}

#frontpagetext h1{
    font-size: 75px;
}

#frontpagetext p {
    font-size: 50px;
}

.footnav {
    font-size: 30px;
}

.sublinks {
    text-align: center;
    font-size: 25px;
}

.sublinks a{
    background-color: #cfe2f3;
    color: black;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black; 
}

.accountLink {
    display: float;
    position: absolute;
    top: 50px;
    right: 10px;
}

.accountLink a{
    font-size: 35px;
    background-color: #cfe2f3;
    color: black;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid black; 
}

.centralPage {
    background-color: #cfe2f3;
    color: black;
    border: 2px solid black; 
    border-radius: 50px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    width: 70%;
}

.accountHeader {
    font-size: 60px;
}

formInput {
    font-size: 25px;
}

h2 a, h2 a:visited, h2 a:hover, h2 a:active{
    color: blue;
    text-decoration: underline;
}

.subPageHeader {
    font-size: 60px;
}

.howWorkscontent {
    font-size: 18px;
}