{% extends 'common/base.html' %}

{% block title %}Create Account{% endblock %}

{% block content %}

  <br><br><br>
  <div class="centralPage">
    <h1 class="accountHeader">Create Account</h1>
    <h2>Already have an account? Log in <a href="{{ url_for('auth.login') }}" >here.</a></h2>

    <form method="post">
      <label for="email" class="formInput">Email Address</label>
      <input name="email" class="formInput" id="email" required>
      <br><br><br>
      <label for="password" class="formInput">Password</label>
      <input type="password" name="password" class="formInput" id="password" required>
      <br><br><br>
      <input type="submit" value="Create Account" class="formInput">
    </form>
    <br>
    <br>
  </div>
  <br><br><br><br><br><br><br>
{% endblock %}